<html>
    <head>
        <style type="text/css">
            .fecha{
                font-style: italic;
                font-size: 12px;
            }
        </style>
        <title>Post List</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <h1><a href="">{{ post.title }}</a></h1>
                <p class="fecha">published: {{ post.published_date }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>
